.App-header {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .header-info {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Abhaya Libre", sans-serif;
    h1 {
      font-size: 90px;
      margin-bottom: 35px;
    }
    p {
      font-size: 50px;
      text-align: justify;
    }
  }
  img {
    width: 30%;
    height: 60%;
  }
}

@media only screen and (max-width: 480px) {
  .App-header {
    height: 150vh;
    flex-direction: column-reverse;
    img {
      width: 100%;
    }
    .header-info {
      h1 {
        font-size: 50px;
      }
      p {
        font-size: 28px;
      }
    }
  }
}
