* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#fdfbfb, #ebedee);
}

hr {
  border: none;
  box-shadow: 0 0 10px 1px #838282;
}
